doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Wenxuan SHI

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Wenxuan SHI
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpeg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Wenxuan
                        span.text-primary  SHI
                    .subheading.mb-5
                        | UG Student of Computer Science, Southern University of Science and Technology ·
                        a(href='mailto:shiwx2018@mail.sustech.edu.cn')  shiwx2018@mail.sustech.edu.cn
                    p.lead.mb-5
                        | I am currently a junior student in Southern University of Science and Technology, department of Computer Science and Engineering.
                        | Currently I am interested in System Security, with Fengwei ZHANG as my advisor.
                        | Last semester, I got GPA 3.94/4.0.

                    .social-icons
                        a.social-icon(href='https://github.com/whexy')
                            i.fab.fa-github
                        a.social-icon(href='#')
                            i.fab.fa-linkedin-in
                        //a.social-icon(href='#')
                        //    i.fab.fa-twitter
                        //a.social-icon(href='#')
                        //    i.fab.fa-facebook-f

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SUSTeam: A Game Platform
                            .subheading.mb-3 Web Development (vue, electron), Backend Development (kotlin), SDK (JAVA), Database (MySQL)
                            p
                                | This is the final project for Object-oriented Analysis and Design course. The project is full of challanges, 
                                | but we managed to develop a fully functional game platform, with advanced features like SDK support, incremental updating, 
                                | cloud storage service, and so on.
                                br
                                |  Demo:
                                a(href='http://susteam.gogo.moe')  SUSTeam
                        .flex-shrink-0
                            span.text-primary December 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 12307: Train Ticket Booking System
                            .subheading.mb-3 Web Development, Backend Development, Database
                            p
                                |  This is the final project for CS307 Database Principals. In this project, we built a fully functional train ticket booking system. We have managed to obtain information on train operations throughout China and present it on this system. The system has efficient database processing logic and a clear and concise front-end for interaction.
                                br
                                |  Demo:
                                a(href='http://12307.whexy.com')  12307.whexy.com
                                |  Github:
                                a(href='https://github.com/whexy/CS307-12306')  BackEnd
                                | ,
                                a(href='https://github.com/whexy/CS307-12306-frontend')  FrontEnd



                        .flex-shrink-0
                            span.text-primary May 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 WannaAC: TestJudge for Algorithm Questions
                            .subheading.mb-3 Web Development, Backend Development, Docker
                            p
                                |  To make it easier for students to locate errors in the algorithm more quickly, we wrote a simple test sample collection tool. This tool will generate test cases that meet the requirements and record the user's pass rate in the different test cases. This project lowered the difficulty of the course so much that the instructor called off the development of the project.
                        .flex-shrink-0
                            span.text-primary October 2019


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 H2G: Simple Data Visualization Tools
                            .subheading.mb-3 Java
                            p
                                |  This is the final project for CS102A Introduction to Computer Programming A. We use Java to implement animation of data as it grows. Users can provide generic JSON data to see how the data ranks as it grows.
                                br
                                |  Github:
                                a(href='https://github.com/whexy/H2G')  H2G Project

                        .flex-shrink-0
                            span.text-primary December 2018

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ASC Student Supercomputer Challenge 2019
                            b  Second Place Prize
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | The International Collegiate Programming Contest (Yinchuang, Asia) 2019
                            b  Silver Medal
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mathematical Contest in Modeling 2020
                            b  Honorable Mention


        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
